<!doctype html>
<html ng-app="todoApp">
    <head>
        <title>Angularjs step 0</title>
        <style>
            .todo-true { text-decoration: line-through }
        </style>
    </head>
    <body>
        <div ng-controller="todoCtrl">
            <div class="list">
                <ul ng-repeat="todo in todos">
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="todo.done">
                            <span class="todo-{{ todo.done }}">{{ todo.title }}</span>
                        </label>
                    </li>
                </ul>
            </div>
            <form ng-submit="addTodo()">
                <input type="text" placeholder="Add todo" ng-model="todoTitle">
                <button type="submit">Add</button>
            </form>
        </div>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>